@using KMCSCI3110Project.Models.ViewModels
 
@model IEnumerable<ReservationAdminViewModel>
@{
    ViewData["Title"] = "All Reservations";
}

<h2>@ViewData["Title"]</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Vehicle</th>
            <th>From</th>
            <th>To</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.CustomerEmail</td>
                <td>@r.VehicleName</td>
                <td>@r.StartDate.ToShortDateString()</td>
                <td>@r.EndDate.ToShortDateString()</td>
                <td>@r.TotalCost.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
